// ========================================================
// HERO
// ========================================================

//
.hero {
    display: block;
    overflow: hidden;
    height: 50vh;
    min-height: 400px;
    max-height: 500px;
    position: relative;
}


// hero image background
.hero--bg {
    background-position: center center;
    background-size: cover;
}


// hero gradient
.hero--bg--lighten:before,
.hero--bg--darken:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.hero--bg--darken:before {
    background: linear-gradient(to top, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 50%);
}

.hero--bg--lighten:before {
    background: linear-gradient(to top, rgba(255,255,255,.6) 0%, rgba(255,255,255,255) 50%);
}


// allow to handle positioning in 3d
.hero--bg--animated {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-style: preserve-3d;
    animation: hero-bg-slide-down 2s cubic-bezier(0, 0.5, 0, 1) forwards; // Start off fast, then take its time toward the end.
}


@keyframes hero-bg-slide-down {

  0% {
    opacity: 0;  // Starting at invisible
    transform: translateY(-5rem); // Positioning a little higher
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.hero__body {
    display: table;
    height: 100%; // scale parent height;
    width: 100%; // default optional
    table-layout: fixed; // equal resize childeren
}


.hero__content {
    display: table-cell;
    vertical-align: top;

    // Vertical alignment variants.
    .hero__body--middle > & {
        vertical-align: middle;
    }

    .hero__body--bottom > & {
        vertical-align: bottom;
    }
}


// button
.hero__button {
    transform: translateZ(.1px);
}









