// ========================================================
// # PANEL

.panel {
    margin: 0;
    position: absolute;
    right: $gutter;
    top: $gutter;
    z-index: 10;
}


.panel__nav {
    display: none;
}


.panel__nav--target {

    &:checked {
        ~ .panel__nav {
            display: block;
        }

        ~ .panel__close {
            &:after {
                content: 'close';
                display: block;
                visibility: visible;
            }
        }
    }
}
