 <nav class="menu-nav">
    <label for="menu-toggle" class="modal__close mb-none">
            {% include icons/arrow-left.html %}
            <span>Back home</span>
    </label>
    <div class="menu-nav__inner">

        <div class="theme-texture menu-nav__background">
            <img class="avatar avatar--medium" src="assets/images/quoc.jpg" alt="">
            <h3 class="text-center mb-tiny">Van Quoc Bui</h3>

            <ul class="list-bare text-center list-inline">
                <li>
                    <a href="https://www.facebook.com/vquocbui" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/stuboki" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/vanquocbui/" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:bui.vquoc@gmail.com?Subject=my10jobs"><i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <article class="menu-nav__content box--medium@tablet">
            <div class="section__inner">

                <h2 class="w4/5@desktop">My name is Van Quoc Bui, <br>and this is the story of how I pursued my passion. </h2>

                <blockquote><p>
                    At the age of six, I was diagnosed with “Aphasia”, meaning I had difficulties with speaking, listening, reading and writing. Despite having this disability, I always try to aim high and live life to the fullest.
                </p></blockquote>


                <p>
                    I have been interested in creative artwork, as long as I can remember. However, my struggles with language and artwork prevented me from studying Graphic Design. After two years of constant rejections, I decided to gain life experience by hard work and intuition. School became more like an option than a necessity. Throughout the years, I had worked for many companies in various industries. Even though I gained a lot of experience and knowledge, it made me realise even more that my ambition lies in technology and design.
                </p>

                <p>
                    Eventually, in 2016, I committed myself to become a web developer. Without any educational background, I was dedicated to self-study and hard work. Within four months, I was given the chance to start in the desired industry. Now, I am able to enjoy doing creative work with great passion. This opportunity has taught me that there is more in life than we think. Life experience cannot be learned from books. You have to be open for it, go out and challenge yourself to gain experience.
                </p>

                <p>Now that I have found myself, I want to do something back for the community. I have challenged myself to travel to Ho Chi Minh City, Vietnam and work at ten low paid jobs in ten days. I want to learn from the people and help them chase their passion.</p>

                <p>
                This is a non-profit initiative and an experiment, I want to share with the world. I hope inspire people to empathize with others and realise that everyone can make a difference with a good deed. Everyone has a passion, but not all of them has the opportunity to chase it. Some might even have given up on it. Hopefully, I will be able to help these individuals to find their passion or even chase it.
                </p>
            </div>
        </article>
    </div>
</nav>
