<article class="modal__content">
    <div class="image-bg modal__intro-image" style="background-image: url('assets/images/worker.jpg');"></div>
    <div class="section__inner">

        <div class="modal__content__detail">
            <div class="reduce pv">
                <div class="box box--medium@tablet">
                    <span class="radius-top modal__content__location">Streetname 1250</span>
                    <h1>Deliver-boy</h1>
                    <h2>Day 1</h2>
                </div>
            </div>
        </div>
        <div class="reduce@desktop pv">
            <!-- 1/3 -  2/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w1/3@desktop">
                    <h2>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ad.
                    </h2>
                </div>
                <div class="col__item box box--medium@desktop w2/3@desktop">
                    <p>Where Do You See Yourself In Five Years?</p>
                    <p>If You Could Live Forever, How Would You Spend Eternity?</p>
                    <p>Why Did You Choose Your Profession?</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut pariatur cumque eaque sit totam assumenda provident cupiditate facere dolore minima.</p>
                </div>
            </div>

            <!--  1/2 - 1/2 -->
            <div class="box box--medium@tablet w1/2@desktop">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, sunt.</h2>
            </div>
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w1/2@desktop">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate minus pariatur distinctio quia iusto illo quisquam earum consectetur. Unde, error.</p>
                </div>
                <div class="col__item box box--medium@desktop w1/2@desktop">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate minus pariatur distinctio quia iusto illo quisquam earum consectetur. Unde, error.</p>
                </div>
            </div>

            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w1/2@desktop">
                    <img src='assets/images/worker.jpg' alt="">
                </div>
                <div class="col__item box box--medium@desktop w1/2@desktop">
                    <img src='assets/images/worker.jpg' alt="">
                </div>
            </div>


            <!--  2/3 text -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop ml-auto w2/3@desktop">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam magni mollitia tempora perferendis, voluptatem quam deleniti, eligendi cumque architecto incidunt maiores enim omnis ducimus excepturi unde eum recusandae ipsam cupiditate!</p>
                </div>
            </div>

            <!-- 2/3 Images -->
            <div class="col">
                <div class="col__item box box--medium@desktop ml-auto w2/3@desktop">
                    <img src='assets/images/worker.jpg' alt="">
                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="box box--medium@tablet w1/2@desktop">
                <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, sunt.</h2>
            </div>
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w1/2@desktop">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate minus pariatur distinctio quia iusto illo quisquam earum consectetur. Unde, error.</p>
                </div>
                <div class="col__item box box--medium@desktop w1/2@desktop">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate minus pariatur distinctio quia iusto illo quisquam earum consectetur. Unde, error.</p>
                </div>
            </div>
        </div>

        <div class="box text-center">
            <hr>
            <p class="mb-none"><strong>Share this story</strong></p>
            <ul class="list-bare text-center list-inline">
                <li>
                    <a class="js-social-pop" href="https://www.facebook.com/sharer.php?u=https://stuboki.netlify.com/my10jobs.html#day-1" title="Facebook share"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://twitter.com/share?url=https://stuboki.netlify.com/my10jobs.html#day-1&amp;text=Share popup on &amp;hashtags=day-1" title="Twitter share"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://www.linkedin.com/shareArticle?mini=true&url=https://stuboki.netlify.com/my10jobs.html#day-1" title="linkedin Share"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div class="image-bg modal__end-image" style="background-image: url('assets/images/worker.jpg');"></div>

    <nav class="modal__footer theme-texture pv-large">
        <div class="section__inner">
            <ul class="list-bare col col--column col--row@desktop">
                <li class="col__item box">
                    <div class="card">
                        <a href="#day-2" class="card__image" style="background-image: url('assets/images/streetworker.jpg');" >
                            {% include icons/eye.html %}
                        </a>

                        <div class="card__detail box theme-texture">
                            <div class="card__detail__inner">
                                <h3>Deliver-boy</h3>
                                <p>Lorem ipsum dolor sit amet.</p>
                                <a href="#day-2" class="btn btn--rounded btn--primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col__item box">
                    <div class="card">
                        <a href="#day-2" class="card__image" style="background-image: url('assets/images/streetworker.jpg');" >
                            {% include icons/eye.html %}
                        </a>

                        <div class="card__detail box theme-texture">
                            <div class="card__detail__inner">
                                <h3>Deliver-boy</h3>
                                <p>Lorem ipsum dolor sit amet.</p>
                                <a href="#day-2" class="btn btn--rounded btn--primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col__item box">
                    <div class="card">
                        <a href="#day-2" class="card__image" style="background-image: url('assets/images/streetworker.jpg');" >
                            {% include icons/eye.html %}
                        </a>

                        <div class="card__detail box theme-texture">
                            <div class="card__detail__inner">
                                <h3>Deliver-boy</h3>
                                <p>Lorem ipsum dolor sit amet.</p>
                                <a href="#day-2" class="btn btn--rounded btn--primary">Read more</a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</article>
