<article class="modal__content">
    <div class="modal__bg-filter"></div>
    <div class="image-bg modal__intro-image lazyload" data-bg='assets/images/hero-4.jpg'></div>
    <div class="section__inner">

        <div class="modal__content__detail">
            <div class="reduce pv">
                <div class="box box--medium@tablet">
                    <div class="modal__content__location">
                        <h2>Day 4</h2>
                        <h1>Crabs seller</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="reduce@desktop pv">

            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        Pay as little
                    </h2>

                    <p><strong>I decided to go to HuTech University again and look in the surroundings for a new job. Nearby the university is a busy road and there is where I met Dan.</strong></p>

                     <p>Dan is a crab seller and he worked with one other guy. At this job, it was important that you are good at bargaining. The seller wants to make profit, while the customer wants to pay as little as possible.</p>
                     <p>For me it was difficult to do the bargaining, so they let me weigh the crabs for the customers. Because the prices were not specified, everyone was trying to get the lowest price. It was very different from the other jobs</p>
                </div>
            </div>


                        <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@tablet pb-none">
                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-7.jpg'></div>
                    </div>
                </div>
            </div>

            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>


                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-8.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-9.jpg'></div>
                    </div>
                </div>
            </div>

            <div class="col col--column col--row@desktop"></div>

            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        About Dan
                    </h2>



                    <p><strong>
                        Originally from Hai Phong, Dan came to Ho Chi Minh City for three months to observe restaurants and learn how they have achieved their success.
                        </strong>
                    </p>
                    <p>
                        He is planning to start his own restaurant in his hometown, but first hopes to find the key to success in Ho Chi Minh City.
                    </p>

                    <blockquote>
                        I know which way I am going, I know what I want to do, but I need to find out how to succeed
                    </blockquote>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop vertical-ratios-desktop--large">

                    <div class="col col--column@desktop">
                        <div class="ratio col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-6.jpg'></div>
                        </div>
                    </div>
                </div>
            </div>


         <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                            <div class="col__item w2/3@desktop"></div>


                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-1.jpg'></div>
                    </div>
                </div>
            </div>



             <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">


                <div class="col__item box box--medium@desktop w2/3@tablet">

                    <p>
                        Dan is very eager to learn. For example, he wants to learn all about selling and understanding the consumer’s behaviour. This was the reason why he has taken the job as a crab seller, while he is in Ho Chi Minh City. Furthermore, he wants to learn how to talk to customers and what customers need. Dan is planning to work in restaurants to gain this knowledge and he hopes the bosses will point out if he has potential for this sector.
                    </p>
                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                            <div class="col__item w1/3@desktop"></div>


                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-2.jpg'></div>
                    </div>
                </div>
            </div>




            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>


                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <blockquote>
                        If your family is happy and healthy, that is the most fortunate thing
                    </blockquote>
                    <p>
                        Even though Dan is focused on making his dream a reality, his family always comes first. He does everything he can to make his family, which includes his parents, wife and children, happy. “If your family is happy and healthy, that is the most fortunate thing”.
                    </p>
                </div>
            </div>



            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                   <h2>
                       Own experience
                    </h2>

                    <p>
                        Dan was very inspiring and in a way, he reminded me of myself. Just like me, he went to a different place for his mission. During the day we didn’t sell much, but from a certain time of the day people kept coming.
                    </p>

                    <p>
                        Dan was very open and not afraid to lose or fail. He wasn’t egoistic either and even paid for my lunch. Despite the northern accent, he took the time to express himself so I could understand him.
                    </p>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop vertical-ratios-desktop--large">

                    <div class="col col--column@desktop">
                        <div class="ratio col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-4.jpg'></div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                       Gift for Dan
                    </h2>

                    <p> I had bought two books for Dan as an aid for his plan to open his own restaurant. One book was about the kitchen from A to Z, which includes hygiene, supplies, preparations among others. The other book was a cookbook with recipes from Ho Chi Minh from an award-winning chef. </p>

                    <p>Unfortunately, I wasn’t able to give the donation to Dan, because he couldn’t be reached on his telephone. I tried to find him at the place where we sold the crabs, but he wasn’t there anymore.</p>
                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <div class="ratio ratio--16:9">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-4-3.jpg'></div>
                    </div>
                </div>
            </div>




        </div>

        <div class="box text-center">
            <hr>
            <p class="mb-none"><strong>Share this story</strong></p>
            <ul class="list-bare text-center list-inline">
                <li>
                    <a class="js-social-pop" href="https://www.facebook.com/sharer.php?u=http://www.my10jobs.com/#day-4" title="Facebook share"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://twitter.com/share?url=http://www.my10jobs.com/#day-4&amp;text=Share popup on &amp;hashtags=day-3" title="Twitter share"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.my10jobs.com/#day-4" title="linkedin Share"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="modal__footer theme-texture pv-large">
        <div class="section__inner">
            <ul class="list-bare col col--column col--row@desktop">
                <li class="col__item box">
                    <!-- card 1 -->
                    {% include my10jobs/card-3.html %}
                </li>
                <li class="col__item box">
                    <!-- card 2 -->
                    {% include my10jobs/card-5.html %}
                </li>
                <li class="col__item box">
                    <!-- card 3 -->
                    {% include my10jobs/card-6.html %}
                </li>
            </ul>
        </div>
    </nav>
</article>
