<article class="modal__content">
    <div class="modal__bg-filter"></div>
    <div class="image-bg modal__intro-image lazyload" data-bg='assets/images/hero-6.jpg'></div>
    <div class="section__inner">

        <div class="modal__content__detail">
            <div class="reduce pv">
                <div class="box box--medium@tablet">
                    <div class="modal__content__location">
                        <h2>Day 6</h2>
                        <h1>Streetfood seller</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="reduce@desktop pv">

            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        The heavy baskets
                    </h2>

                    <p><strong>Today, I met with Mr. Boy. We drove around in the city for a few hours, but eventually I went by foot alone.
                        After a long search, I came across an old lady, selling fruit and snacks. She was already 70 years old, but still working hard. </strong></p>


                     <p>
                        I was glad she let me help her with preparing the food by putting the snacks in little bags. When a customer bought fruit, I had to cut the fruit and put it in a bag for the customer.
                     </p>

                </div>
            </div>


                                    <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">

                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-15.jpg'></div>
                    </div>

                </div>
            </div>

           <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-10.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-14.jpg'></div>
                    </div>
                </div>
            </div>


            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        About Linh

                    </h2>

                    <p>
                        There is not much known about Linh. I tried to conduct the interview, but it was very difficult. Sometimes she didn’t understand the question and other times she didn’t how to answer them.
                    </p>

                    <p>
                        The lady has been living on the countryside for almost her whole life. She moved to the city just a few years ago. She came to Saigon, because her old job as a farmer was hard. The crops were affected by the weather and location, which resulted in low production and low sales.

                        Her two children are still living on the countryside. She hopes to return home within these five years.
                    </p>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop vertical-ratios-desktop--large">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-6.jpg'></div>
                        </div>
                    </div>

                </div>
            </div>



            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>


                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-13.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-9.jpg'></div>
                    </div>

                </div>
            </div>


            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                   <h2>
                       Own experience
                    </h2>

                    <p>It was difficult to communicate, because she was illiterate. I showed her the interview, but she couldn’t read it. So we had difficulties understanding each other. She lives day by day, not knowing what she is living for.
                        It was noticeable that she didn’t sell much and was earning just a little. She also declined when I wanted to buy food for her, because she thought it was a waste of money. In the end, I still bought food for her, which she was grateful for. When we said our goodbyes, I could see the sadness in her eyes.
                    </p>
                    <p>It was a special moment to see how much she appreciated the time we had spent together. </p>

                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@tablet pb-none">
                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-7.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop align-end">

                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-2.jpg'></div>
                    </div>

                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-4.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-5.jpg'></div>
                    </div>

                </div>
            </div>

             <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                       Gift for Linh
                    </h2>

                    <p> The baskets, that the old lady had to carry could be 20 kilo in total. It was hard to imagine she has to walk long distances, while carrying the baskets. She also had scars on her shoulders. This was why I decided to buy medicine for her. In addition, I gave her money, so she can decide how to spend it.</p>
                </div>

                 <div class="col__item box box--medium@desktop w2/3@tablet">

                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-6-1.jpg'></div>
                    </div>

                </div>
            </div>


        </div>

        <div class="box text-center">
            <hr>
            <p class="mb-none"><strong>Share this story</strong></p>
            <ul class="list-bare text-center list-inline">
                <li>
                    <a class="js-social-pop" href="https://www.facebook.com/sharer.php?u=http://www.my10jobs.com/#day-6" title="Facebook share"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://twitter.com/share?url=http://www.my10jobs.com/#day-6&amp;text=Share popup on &amp;hashtags=day-6" title="Twitter share"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.my10jobs.com/#day-6" title="linkedin Share"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="modal__footer theme-texture pv-large">
        <div class="section__inner">
            <ul class="list-bare col col--column col--row@desktop">
                <li class="col__item box">
                    <!-- card 1 -->
                    {% include my10jobs/card-5.html %}
                </li>
                <li class="col__item box">
                    <!-- card 2 -->
                    {% include my10jobs/card-7.html %}
                </li>
                <li class="col__item box card-holder--disabled">
                    <!-- card 3 -->
                    {% include my10jobs/card-8.html %}
                </li>
            </ul>
        </div>
    </nav>
</article>
