<article class="modal__content">
    <div class="modal__bg-filter"></div>
    <div class="image-bg modal__intro-image lazyload" data-bg='assets/images/hero-2.jpg'></div>
    <div class="section__inner">

        <div class="modal__content__detail">
            <div class="reduce pv">
                <div class="box box--medium@tablet">
                    <div class="modal__content__location">
                        <h2>Day 2</h2>
                        <h1>Carpet seller</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="reduce@desktop pv">

            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        The language barrier
                    </h2>

                    <p><strong>To search for the second job, I went to district 3. After searching for a while, I found someone who was selling carpets. His name was Viet.</strong></p>

                    <p>
                     He was a little sceptic and suspicious at first, so I told him my reasons. I showed him pictures from the first day as well and was able to calm him.</p>

                    <p>
                    He let me work with him and interact with the customers. I had to approach customers, ask what they were looking for and give them the carpet. The payment went through Viet first, but eventually he let me hold on some cash, so I could do the payments too.
                    </p>

                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@tablet pb-none">
                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-2-1.jpg'></div>
                    </div>
                </div>

                <div class="col__item w1/2@tablet w1/3@desktop align-end">

                </div>
            </div>

            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet align-center">
                    <p>
                       Even though the communication between Viet and me went difficult due to the language barrier, I had fun working with him. However, it was hard to understand each other during the interview, so only little can be written about Viet.
                    </p>
                </div>
            </div>


            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop box--medium@desktop w2/3@desktop">

                    <h2>
                        About Viet
                    </h2>

                    <p>
                        Viet is a 25 year old boy, who makes his earnings with selling carpets on the streets. Within five years, Viet hopes to having a own farmer of vegetables. Working 15 hours a day, he is trying to save up some money to fulfil his dream. In addition, he is also helping his brother financially, whose restaurant went bankrupt some while ago.
                    <p>
                </div>
            </div>


             <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop">

                    <div class="col col--column@desktop">
                       <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-2-8.jpg'></div>
                        </div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w2/3@tablet">


                    <blockquote>I have no occupation, but I need money to live. So that is why I sell carpets.</blockquote>
                    <p>
                        Viet has no time (nor money) for school. So in his free time, he teaches himself English. He has English books, with the Vietnamese translations included in the books. “I have no occupation, but I need money to live. So that is why I sell carpets”.

                    </p>

                </div>
            </div>

            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                   <h2>
                       Own experience
                    </h2>
                    <p>
                        I had learned several things from this job. For instance, how to approach Vietnamese customers and how to be considerate towards the customers. They were all driving by with their scooters and some didn’t want to step off their scooters, so I would have to get the carpets to them and show it while they’re standing.
                    </p>
                    <p>
                        Selling the carpets went smoothly, because when the customers came, there was a big chance they would buy a carpet. The hardest part was when there were no customers. We would have to stay at the same place and just wait, which could make you lazy on a mental and physical level. For me these moments were frustrating, because I wanted to do something but I couldn’t.
                    </p>

                    <p>
                        Viet was very helpful and friendly. He would help anyone, even when they are just passing by. Furthermore, I liked that he always had a smile on his face, which showed his positive attitude.
                    </p>

                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop align-end">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-2-6.jpg'></div>
                        </div>
                    </div>
                </div>
            </div>


             <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-2-9.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/hero-2.jpg'></div>
                    </div>

                </div>
            </div>


            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                       Gift for Viet
                    </h2>

                    <p><strong>While we were waiting for customers, I noticed that Viet was reading a book and making notes.</strong></p>

                    <p>The book was in Vietnamese and English. He was trying to communicate in English as well. This was why I decided to buy a book to help him learn English. </p>

                    <p>Viet also told me he dreamed of having a farm of his own. That was why I bought a book on farming.</p>

                    <p> Unfortunately, I wasn’t able to reach Viet for the donation. In addition, he was sceptic about the programme. This had let to the distance between us.</p>
                </div>
            </div>


        </div>

        <div class="box text-center">
            <hr>
            <p class="mb-none"><strong>Share this story</strong></p>
            <ul class="list-bare text-center list-inline">
                <li>
                    <a class="js-social-pop" href="https://www.facebook.com/sharer.php?u=http://www.my10jobs.com/#day-2" title="Facebook share"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://twitter.com/share?url=http://www.my10jobs.com/#day-2&amp;text=Share popup on &amp;hashtags=day-2" title="Twitter share"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.my10jobs.com/#day-2" title="linkedin Share"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="modal__footer theme-texture pv-large">
        <div class="section__inner">
            <ul class="list-bare col col--column col--row@desktop">
                <li class="col__item box">
                    <!-- card 1 -->
                    {% include my10jobs/card-1.html %}
                </li>
                <li class="col__item box">
                    <!-- card 2 -->
                    {% include my10jobs/card-3.html %}
                </li>
                <li class="col__item box">
                    <!-- card 3 -->
                    {% include my10jobs/card-4.html %}
                </li>
            </ul>
        </div>
    </nav>
</article>
