<article class="modal__content">
    <div class="modal__bg-filter"></div>
    <div class="image-bg modal__intro-image lazyload" data-bg='assets/images/hero-3.jpg'></div>
    <div class="section__inner">

        <div class="modal__content__detail">
            <div class="reduce pv">
                <div class="box box--medium@tablet">
                    <div class="modal__content__location">
                        <h2>Day 3</h2>
                        <h1>Food prep worker</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="reduce@desktop pv">

            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        The preparation of banh cuon
                    </h2>

                    <p><strong>Today, I was meeting up with a friend at HuTech University.  My friend, Mr. Boy, had been helping with the search of the jobs since day 2.</strong></p>


                     <p>
                     During my wait, I was looking around and stopped at a stall, where banh cuon was sold. Banh cuon is a Vietnamese dish and is often a dough sheet filled with a (meat) filling. The first thing the seller asked me, was “Do you want to learn how to cook?”.
                     </p>

                     <p> I was really surprised to hear this and I told him about my project. He agreed to let me work with him and tell his story. The seller’s name was Chu Kim.</p>

                </div>
            </div>


                                    <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">

                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-3.jpg'></div>
                    </div>

                </div>
            </div>

           <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-2.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-1.jpg'></div>
                    </div>
                </div>
            </div>


                        <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">

                    <p>
                    After Chu Kim showed his stall, Mr. Boy arrived. We had Chu Kim’s banh cuon as lunch, which tasted great. Afterwards, Chu Kim showed me his house, where he does his preparation.
                     </p>

                      <p>
                         The house was nearby and the kitchen was moved to the attic. Chu Kim has done this in order to keep his baby away from the kitchen. When the tour was done, I had to cut the onions with a machine, let the onions dry in the sun, cut the herbs, separate the dough sheets and roll the banh cuon.

                     </p>


                </div>
            </div>




                        <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@tablet pb-none">
                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-6.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop align-end">

                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-7.jpg'></div>
                    </div>

                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-5.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-4.jpg'></div>
                    </div>

                </div>
            </div>



            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        About chu Kim
                    </h2>

                    <p>
                        As a kid, chu Kim dreamt of earning a lot of money and getting a job as the CEO of a company. “I was young, it was the same as everybody else’s dream. But it didn’t work out, so the dream remains a dream”. Now, at the age of 48, chu Kim is a banh cuon seller.
                    </p>

                    <p>
                        Chu Kim has had two accidents, where he broke both his legs and his back. These accidents have constrained him in his work opportunities. He has chosen to be a banh cuon seller, because according to him, this job is not heavy (for his back) and he likes to cook.
                    </p>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-8.jpg'></div>
                        </div>
                    </div>
                </div>
            </div>



             <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">

                    <p>
                        But Chu Kim hasn’t always been the seller of the national dish. In fact, he used to be a barber. By that time, he had already had his first accident, where he had broken his two legs. It took him a lot of time to revalidate. He told me he gained strength from his religion and he did everything the doctor said. The process to walk again went slowly. He had to learn how to move the muscles, the joints and so forth and he had to start with crawling and build it up to walking. But eventually, he was able to walk again. Then he decided to become a barber, because it wasn’t hard on his body/health and it was easy to start a barbershop. Back then, you didn’t need a license or certificate to open a barbershop. Chu Kim told me he bought a simple chair and added a few things to turn it into a hairdresser chair.
                    </p>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop">

                    <div class="col col--column@desktop">
                       <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-11.jpg'></div>
                        </div>

                    </div>
                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                            <div class="col__item w1/3@desktop"></div>


                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-10.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-9.jpg'></div>
                    </div>

                </div>
            </div>




            <div class="col col--column col--row@desktop">
                                        <div class="col__item w1/3@desktop"></div>


                <div class="col__item box box--medium@desktop w2/3@tablet">

                    <p>
                       When he was a barber, he visited foster homes to give the children a haircut or he would wash and cut the hairs of the disabled. At the foster homes, he would receive the schedules of the children, so he could plan when to cut the hair of the children. “I really liked it, I felt fortunate” is how he describes his experience with the foster children. But unfortunately, one day he had another accident and broke his back. This had forced him to quit his job as a barber.

                    </p>

                    <p>
                        Now, chu Kim is focused on his health and his family. He needs to be healthy, so he can work hard and earn money to buy a house. He wants to buy a house with a lot of land, where he can plant crops and keep/raise animals. He is determined to make this happen within five years, because he wants to give his child the possibility to grow up in a decent house.
                    </p>

                    <p>
                        In addition, Chu Kim is putting a lot of effort in his banh cuon, because he believes that if the food is good, customers will come back. He doesn’t mind spending more money and time to specialise in creating his recipe, because the quality and taste are the important parts of the dish.
                    </p>

                </div>
            </div>



            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                   <h2>
                       Own experience
                    </h2>

                    <p>It was fun to see how Chu Kim was curious about everything and how he listened to young people, despite the age difference. He was very open and always ready to answer my questions or give his vision on things. And he was patient as well. Despite his health problems, he was still very ambitious. He wanted to make the best banh cuon, so he puts a lot of effort in his preparation.
                    </p>

                    <p>Chu Kim was also the first to approach me and ask if I wanted to help him. This showed me how open and welcoming he was.
                    </p>
                </div>
            </div>

            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-13.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-17.jpg'></div>
                    </div>
                </div>
            </div>

            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                       Gift for Chu Kim
                    </h2>

                    <p> Chu Kim wanted to distinct his dish from other banh cuon dishes in terms of taste and quality. The better his banh cuon, the better the sale. So I had bought two cookbooks on cuon (which means “rolled”) dishes and egg rolls. These books can be used as inspiration to perfect his recipe. </p>

                    <p>During the day, I had noticed that Chu Kim has a lot of backpain, so I had bought special band aids to ease the pain.</p>
                </div>



                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop  align-end vertical-ratios-desktop vertical-ratios-desktop--large">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-18.jpg'></div>
                        </div>
                    </div>
                </div>

            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w1/2@tablet">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-19.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-3-20.jpg'></div>
                    </div>

                </div>
            </div>




        </div>

        <div class="box text-center">
            <hr>
            <p class="mb-none"><strong>Share this story</strong></p>
            <ul class="list-bare text-center list-inline">
                <li>
                    <a class="js-social-pop" href="https://www.facebook.com/sharer.php?u=http://www.my10jobs.com/#day-3" title="Facebook share"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://twitter.com/share?url=http://www.my10jobs.com/#day-3&amp;text=Share popup on &amp;hashtags=day-3" title="Twitter share"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.my10jobs.com/#day-3" title="linkedin Share"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="modal__footer theme-texture pv-large">
        <div class="section__inner">
            <ul class="list-bare col col--column col--row@desktop">
                <li class="col__item box">
                    <!-- card 1 -->
                    {% include my10jobs/card-2.html %}
                </li>
                <li class="col__item box">
                    <!-- card 2 -->
                    {% include my10jobs/card-4.html %}
                </li>
                <li class="col__item box">
                    <!-- card 3 -->
                    {% include my10jobs/card-5.html %}
                </li>
            </ul>
        </div>
    </nav>
</article>
