<article class="modal__content">
    <div class="modal__bg-filter"></div>
    <div class="image-bg modal__intro-image lazyload" data-bg='assets/images/hero-7.jpg'></div>
    <div class="section__inner">

        <div class="modal__content__detail">
            <div class="reduce pv">
                <div class="box box--medium@tablet">
                    <div class="modal__content__location">
                        <h2>Day 7</h2>
                        <h1>Waiter</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="reduce@desktop pv">


            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        Serving the food
                    </h2>


                    <p>I had called an Uber bike, so I could be driven around to search for a job. The driver had a friendly appearance, which encouraged me to ask him if he knew anyone I could help. The driver brought me to his brother-in-law. </p>

                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-1.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop align-end">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyloaded" data-bg="assets/images/day-1-4.jpg" style="background-image: url(&quot;assets/images/day-7-3.jpg&quot;);"></div>
                        </div>
                    </div>
                </div>
            </div>


                                    <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w1/3@tablet"></div>


                <div class="col__item box box--medium@desktop w2/3@tablet">


                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-2.jpg'></div>
                    </div>




                </div>
            </div>


            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">

                    <p>
                        The brother-in-law, who I called Chu Hung, had an accident 22 years ago. The accident was the cause of the paralysation of his lower body. His wife, Co Lien, had taken care of him ever since.
                    </p>
                    <p>
                        I told Chu Hung what I was doing in Vietnam and Chu Hung took the time to listen and understand my story. He gave permission to let me work with his wife and told her about my project.
                    </p>

                    <p>
                        Afterwards, I helped Co Lien with her work. She sold different dishes, served with rice and rice noodles. Her daughter helped her with serving the food. I got to serve the food too, clean the tables, prepare the cutlery and do the dishes.
                    </p>

                </div>
            </div>

           <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">


                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-20.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-19.jpg'></div>
                    </div>
                </div>
            </div>




            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        About Co Lien
                    </h2>

                    <p>
                        Co Lien is a very strong and caring woman. She works hard to support her family and has taken care of her husband and his mother for over 20 years.
                    </p>

                    <p>
                        Since young, she has dreamt of being a food seller. She still sees this job as her dream job and has been in this business for 30 years. She started when she was 25. At that time, she was already married to Chu Hung.
                    </p>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop vertical-ratios-desktop--large">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-21.jpg'></div>
                        </div>
                    </div>

                </div>
            </div>

            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>



                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-26.jpg'></div>
                    </div>
                </div>


                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-24.jpg'></div>
                    </div>
                </div>

            </div>


            <div class="col col--column col--row@desktop">

                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w2/3@tablet">


                    <blockquote>
                        If you have the health, then you have to do anything you can for the society
                    </blockquote>

                    <p>
                        Co Lien praises herself lucky, for being able to do her dream job and live with her husband and child. She told me “If you have the health, then you have to do anything you can for the society”. These words sum up the selfless and caring nature of co Lien.
                    </p>

                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-16.jpg'></div>
                    </div>
                </div>
            </div>


            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                   <h2>
                       Own experience
                    </h2>

                    <p>
                    It was inspiring to see how much Co Lien trusted her husband’s judgement. He suggested her to let me work with her for one day and she agreed with it, without knowing me or my story. </p>

                    <p>
                    It was nice to see how well Co Lien and her daughter worked together. Despite being busy, Co Lien kept her calm and could remember every order. It was also funny to see how the customers didn’t notice anything about me, until they heard my accent. </p>

                    <p>I have a lot of admiration for Chu Hung and Co Lien. Chu Hung has a positive mindset, despite his condition. Furthermore, Co Lien has taken care of her husband and his mother for 22 years. This takes a lot of love and dedication.
                    </p>
                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@tablet pb-none">
                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-14.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop align-end">

                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-15.jpg'></div>
                    </div>

                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-12.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-13.jpg'></div>
                    </div>

                </div>
            </div>

             <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                       Gift for Co Lien & Chu Hung
                    </h2>

                    <p> I wanted to buy (advertising) stickers for the food stand of Co Lien. I asked Chu Hung what he thought of this idea, but he said it wasn’t necessary. So eventually I gave them money, so they could decide how to spend it.</p>
                </div>
            </div>
        </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@tablet pb-none">
                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-27.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop align-end">
                </div>
            </div>

            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-11.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-7-10.jpg'></div>
                    </div>

                </div>
            </div>


        <div class="box text-center">
            <hr>
            <p class="mb-none"><strong>Share this story</strong></p>
            <ul class="list-bare text-center list-inline">
                <li>
                    <a class="js-social-pop" href="https://www.facebook.com/sharer.php?u=http://www.my10jobs.com/#day-7" title="Facebook share"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://twitter.com/share?url=http://www.my10jobs.com/#day-7&amp;text=Share popup on &amp;hashtags=day-7" title="Twitter share"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.my10jobs.com/#day-7" title="linkedin Share"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="modal__footer theme-texture pv-large">
        <div class="section__inner">
            <ul class="list-bare col col--column col--row@desktop">
                <li class="col__item box">
                    <!-- card 1 -->
                    {% include my10jobs/card-6.html %}
                </li>
                <li class="col__item box card-holder--disabled">
                    <!-- card 2 -->
                    {% include my10jobs/card-8.html %}
                </li>
                <li class="col__item box card-holder--disabled">
                    <!-- card 3 -->
                    {% include my10jobs/card-9.html %}
                </li>
            </ul>
        </div>
    </nav>
</article>
