<article class="modal__content">
    <div class="modal__bg-filter"></div>
    <div class="image-bg modal__intro-image lazyload" data-bg='assets/images/hero-1.jpg'></div>
    <div class="section__inner">

        <div class="modal__content__detail">
            <div class="reduce pv">
                <div class="box box--medium@tablet">
                    <div class="modal__content__location">
                        <h2>Day 1</h2>
                        <h1>Recyclable materials seller</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="reduce@desktop pv">

            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        The advice of the hotel employee
                    </h2>

                    <p><strong>Based on the advice of the hotel employee, I went to district 10. The hotel employee worked as a financial advisor in the daytime and knew in which neighbourhoods I could look for the volunteer jobs.</strong></p>

                    <p>
                     After my arrival at district 10, I observed the surroundings and asked people if I could help them with their work. Unfortunately, I got turned down because of my healthy appearance. </p>
                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@tablet pb-none">
                <div class="col__item box box--medium@desktop w1/2@tablet w2/3@desktop">
                    <div class="ratio ratio--2:1">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-13.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop align-end">

                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-14.jpg'></div>
                    </div>

                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-1.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-2.jpg'></div>
                    </div>

                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet align-center">
                    <p>
                        After several attempts, one lady agreed to let me help her and I called her Co Mai. She let me pick recyclable objects from the streets and push her cart. Later on, I helped separating the collection of recyclable items, which Co Mai had bought during our walk.
                    </p>
                </div>
            </div>



            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                        About co Mai
                    </h2>

                    <p>
                        Co Mai comes from the countryside and started her family at a young age. When she was around 25 years old, she already had two children. Growing up on the countryside, Co Mai only knew how to farm and grow rice. That was how she earned her money and she didn’t dream of doing anything else, because she didn’t know anything else. When (country) people went to the cities to do business, they would bring others along. That was how Co Mai came to the city. She was brought to the city, but had to figure everything out by herself.
                    </p>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-4.jpg'></div>
                        </div>
                    </div>
                </div>
            </div>



             <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop">

                    <div class="col col--column@desktop">
                       <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-10.jpg'></div>
                        </div>
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-5.jpg'></div>
                        </div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w2/3@tablet">


                    <blockquote>
                        We are country people and now we are among the people from the city. If we don’t have the knowledge or certificates, it is really hard to find a job.
                    </blockquote>

                    <p>
                        Now she has a job, where she can be her own boss. She buys or picks recycle objects and sells it to others. She likes this job, because she has the freedom to do anything. The money she earns is enough for the rent of their home. Her husband is working as well. His earnings are meant for food and sending their children to schools among others. She tells her children "We are country people and now we are among the people from the city. If we don’t have the knowledge or certificates, it is really hard to find a job".
                    </p>

                    <blockquote>
                        It’s my hometown, I can’t leave it
                    </blockquote>

                    <p>
                        Co Mai has already decided to go back to the country side, once her children are graduated and ready for a job. Currently, she goes back to the country side for special occasions, such as commemorations, marriages and Lunar’s New Year.
                    </p>


                </div>
            </div>


            <!-- 2/3 - 1/3 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item box box--medium@desktop w2/3@tablet">
                   <h2>
                       Own experience
                    </h2>

                    <p>I had really underestimated the job. Even when the cart was empty at the beginning, I was already sweating after pushing it for five minutes. I think that the environment made it harder for me, because the sun was shining very bright and the air was dirty.
                    </p>

                    <p>I was happy Co Mai let me work with her. It gave me hope that I could do volunteer jobs despite my appearances or the language barrier. She welcomed me with open arms and cared for me. It was fun to notice that she enjoyed the experience as well. She told my story to her sister and friends. Everyone welcomed me and didn’t treat me as an outsider. I have a lot of appreciation for Co Mai, because she is doing this tough job to support her family and give her children a better life.
                    </p>
                </div>

                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop vertical-ratios-desktop">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-9.jpg'></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col box box--medium@desktop col--row@desktop">
                <div class="ratio ratio--16:9  col__item w1/2@tablet">
                    <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-12.jpg'></div>
                </div>

                <div class="ratio ratio--16:9  col__item w1/2@tablet">
                    <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-11.jpg'></div>
                </div>
            </div>


            <div class="col col--column col--row@desktop">

                <div class="col__item box box--medium@desktop w2/3@tablet">
                    <h2>
                       Gift for Co Mai
                    </h2>

                    <p><strong>It was hard to find Co Mai for the donation, because she has no permanent place where she does her job. </strong></p>

                    <p> Eventually, I was able to find her and give her the donations. During the interview, she didn’t show that she had a passion or dream. So based on her activities, I decided to give her a toolkit, which she could use to separate the collections of recyclable objects. This activity was hard to do with bare hands and that was why I thought it could come in handy. The rest of the money was given to her, so she could have a day off, spend it on her children or buy medicine among others.</p>
                </div>


                <div class="col__item box box--medium@desktop box--medium@desktop w1/3@desktop  align-end vertical-ratios-desktop vertical-ratios-desktop--large">

                    <div class="col col--column@desktop">
                        <div class="ratio ratio--vertical@desktop col__item w1/2@tablet w1/1@desktop">
                            <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-6.jpg'></div>
                        </div>
                    </div>
                </div>
            </div>


            <!--  1/2 - 1/2 -->
            <div class="col col--column col--row@desktop">
                <div class="col__item w1/3@desktop"></div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-7.jpg'></div>
                    </div>
                </div>

                <div class="col__item box box--medium@desktop w1/2@tablet w1/3@desktop">
                    <div class="ratio ratio--4:3">
                        <div class="image-bg ratio__content lazyload" data-bg='assets/images/day-1-8.jpg'></div>
                    </div>

                </div>
            </div>




        </div>

        <div class="box text-center">
            <hr>
            <p class="mb-none"><strong>Share this story</strong></p>
            <ul class="list-bare text-center list-inline">
                <li>
                    <a class="js-social-pop" href="https://www.facebook.com/sharer.php?u=http://www.my10jobs.com/#day-1" title="Facebook share"><i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://twitter.com/share?url=http://www.my10jobs.com/#day-1&amp;text=Share popup on &amp;hashtags=day-1" title="Twitter share"><i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a class="js-social-pop" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.my10jobs.com/#day-1" title="linkedin Share"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <nav class="modal__footer theme-texture pv-large">
        <div class="section__inner">
            <ul class="list-bare col col--column col--row@desktop">
                <li class="col__item box card-holder--disabled">
                    <!-- card 1 -->
                    {% include my10jobs/card-10.html %}
                </li>
                <li class="col__item box">
                    <!-- card 2 -->
                    {% include my10jobs/card-2.html %}
                </li>
                <li class="col__item box ">
                    <!-- card 3 -->
                    {% include my10jobs/card-3.html %}
                </li>
            </ul>
        </div>
    </nav>
</article>
