// ========================================================
// STYLEGUIDE
// ========================================================

$styleguide-styling-activate: true !default;

@if ($styleguide-styling-activate == true) {
     /* BASE COLOR */
    .color-primary { background-color: $color-primary; }
    .color-primary--darken { background-color: $color-primary-darken; }
    .color-primary--lighten { background-color: $color-primary-lighten; }

    .color-secondary { background-color: $color-secondary; }
    .color-secondary--darken { background-color: $color-secondary-darken; }
    .color-secondary--lighten { background-color: $color-secondary-lighten; }

    .color-black { background-color: $color-black; }
    .color-black--darken { background-color: $color-black-darken; }
    .color-black--lighten { background-color: $color-black-lighten; }

    .color-grey { background-color: $color-grey; }
    .color-grey--darken { background-color: $color-grey-darken; }
    .color-grey--lighten { background-color: $color-grey-lighten; }


    .styleguide__hero {
        position: relative;
        padding: 40px 0;
        background-position: 0px 0px, 50% 50%;
        background-size: cover;
    }

    .styleguide__hero:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0) 31%, hsla(0, 0%, 100%, 0) 0, rgba(0, 153, 255, .66));
    }

    .styleguide__content {
        position: relative;
        overflow: hidden;
    }

    .styleguide__overview {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        transition: visibility .4s ease-in-out .2s, opacity .2s ease-in-out .2s;
        opacity: 0;
        visibility: hidden;
        z-index: 0;
    }

    .styleguide__overview:target {
        position: relative;
        opacity: 1;
        visibility: visible;
        z-index: 1;
        max-height: auto;
    }


    .styleguide__title {
        color: $color-primary;
        padding: 40px;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .styleguide__sub-title {
        padding: 20px;
        color: #58595B;
    }


    .styleguide__sub-title,
    .styleguide__title {
        line-height: 1;
        text-align: center;
    }

    section + .styleguide__sub-title  {
        border-top: 1px solid #F3F3F3;
    }

    .styleguide__section-inner {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        padding: 1rem;
    }

    .styleguide__menu-nav {
        position: fixed;
        top: 0;
        left: 100%;
        width: 100%;
        max-width: 300px;
        height: 100%;
        background: black;
        color: white;
        opacity: 0;
        transition: transform .2s cubic-bezier(.07,.23,.34,1), opacity .2s ease-in-out;
        z-index: 5;
    }

    .styleguide__menu-nav .styleguide__section-inner {
        display: table;
        height: 100%;
    }

    .styleguide__menu-nav .styleguide__list {
        display: table-cell;
        vertical-align: middle;
    }

    .styleguide__menu-nav .styleguide__list li {
        opacity: 0;
        transform: translateX(40px);
        transition: transform .4s ease-in-out, opacity .2s ease-in-out;
    }

    .styleguide__menu-nav .styleguide__list a {
        display: inline;
        font-size: 1.25rem;
        color: white;
    }

    .styleguide__list {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        list-style: none;
        margin-left: 0;
    }

    .styleguide__list a:hover {
      color: $color-primary;
      text-decoration: none;
    }

    .styleguide__list a {
        color: #58595B;
        font-size: 16px;
        transition: color .2s ease-in-out;
        text-decoration: none;
        display: inline-block;
    }

    .styleguide__table {
        width: 100%;
    }

    .styleguide__table th {
        text-align: left;
        background-color: #F2F2F2;
        font-weight: 700;
    }

    .styleguide__table th,
    .styleguide__table td {
        padding: 1rem;
    }


    .styleguide__table tr ~ tr {
        border-top: 1px dashed rgba(0,0,0,.1);
    }

    .styleguide__table code {
        font-family: "Source Code Pro",Consolas,"Lucida Console",Courier,monospace;
        color: $color-primary;
        word-spacing: normal;
        word-wrap: break-word;
    }

    .styleguide__menu-trigger {
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        position: fixed;
        bottom: 1rem;
        right: 1rem;
        margin-bottom: 0;
        color: $color-primary;
        cursor: pointer;
        z-index: 10;
    }

    .styleguide__menu-target {
        position: fixed;
        top: 0;
        left: 0;
        width: 0px;
        height: 0px;
        opacity: 0;
        overflow: hidden;
    }

    .styleguide__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        max-height: 0;
        background: rgba(0, 0, 0, .5);
        z-index: 4;
        transition: opacity $time-fast ease-in-out, max-height $time-fast 0 ease-in-out;
    }

    .styleguide__menu-target:checked ~ .styleguide__menu-nav {
        opacity: 1;
        transform: translateX(-100%);
    }


    .styleguide__menu-target:checked ~ .styleguide__menu-nav .styleguide__list li {
        transform: translateX(0);
        opacity: 1;
    }

    .styleguide__menu-target:checked ~ .styleguide__overlay {
        opacity: 1;
        max-height: 1500px;
    }

    .styleguide__icon-placeholder {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .styleguide__block-preview {
        text-align: center;
        margin: 0;
    }

    .styleguide__block-preview li {
        display: inline-block;
        vertical-align: middle;
        padding: 20px;
        margin: 10px;
        min-width: 125px;
        border: 1px solid #F3F3F3;
        font-size: 14px;
    }

    .styleguide__block-preview p {
        margin-bottom: 0;
    }

    @media screen and (min-width: 767px) {

        .styleguide__list {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
        }
    }
}
