---
layout: my10jobs
description: my10jobs
---

<nav class="navbar">
    <div class="section__inner">
        <div class="ph">
            <ul class="list-bare navbar__group">
                <li>
                    <a href="" class="logo">My 10 Jobs</a>
                </li>

                <ul class="list-bare navbar__list">
                    <li>
                        <ul class="list-bare navbar__sub-list">
                            <li>
                                <a href="#my-approach" class="hide-mobile">My approach</a>
                            </li>

                            <li>
                                <a href="#stories" class="hide-mobile ml">Stories</a>
                            </li>
                            <li>
                            <li>
                                <a href="#about" class="ml">About</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="https://www.facebook.com/my10jobs" target="_blank" class=" mr-none"><i class="fa fa-facebook-official" aria-hidden="true"></i>Find us</a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>


<section class="section hero col">
    <div class="hero__video-holder">

        <a href="#DBtIRPsjShY" class="js-lightbox-video-trigger hero__video-link">
            <svg class="icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
            <g>
            <path class="st0" d="M30,60C13.4,60,0,46.6,0,30S13.4,0,30,0s30,13.4,30,30S46.6,60,30,60z M30,2.4C14.9,2.4,2.4,14.9,2.4,30
            S14.9,57.6,30,57.6S57.6,45.1,57.6,30S45.1,2.4,30,2.4z M24,43c-0.5,0-0.7,0-1-0.2c-0.7-0.5-1-1.2-1-1.9V19c0-0.7,0.5-1.4,1-1.9
            c0.7-0.5,1.4-0.5,2.2,0l19,11c0.7,0.5,1,1.2,1,1.9s-0.5,1.4-1,1.9l-19,11C25,43,24.5,43,24,43z M24.2,19.4v21.1L42.5,30L24.2,19.4z
            "></path>
            </g>
            </svg>
        </a>

        <div class="hero__bg--color">
            <div class="hero__bg" style='background-image:url("assets/images/hero-my10jobs.jpg")';>
            </div>
        </div>

    </div>
    <!-- <div class="hero__bg hero__bg--right"></div> -->

    <div class="section__inner section__inner--medium theme-texture">

        <div class="hero__detail">
            <div class="hero__detail-inner">
                <div class="box">
                    <h2>New day new job</h2>
                    <h1 class="heading-jumbo">Ng&#224;y M&#7899;i Ngh&#7873; M&#7899;i</h1>
                    <a href="#my-approach" class="btn btn--rounded">My approach</a>
                    <span id="about"></span>

                    <a href="#about" class="btn btn--primary btn--rounded">About</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="section about">
    <div class="section__inner section__inner--medium">

       <div class="pack pack--middle">
            <article class="pack__item">
                <div class="bloc">

                    <div class="bloc__item box box--medium box--large@tablet border-primary shadow">
                        <article>
                            <h1>What is your passion?</h1>
                            <p>On the 4th of June, I will be traveling to Ho Chi Minh City in Vietnam. I will be working at ten low paid jobs in ten days to place myself in someone else’s shoes. I want to understand their feelings and hardships and help them find their passion.
                            </p>

                            <p>
                            I want to share the stories of ten individuals, who have endured hardships caused by poverty, health, disabilities or other disadvantages. By sharing these stories, I hope to inspire people to empathize with others and realise that everyone can make a difference with a good deed.
                            </p>

                            <p>
                            I will spend a day working with every individual and learn more about their life conditions. I hope to be able to give them something valuable back by helping them find or even pursue their passion. It could be as simple as providing books or other tools to payments for medicines or examinations.
                            </p>

                            <a class="btn btn--rounded" href="https://www.facebook.com/my10jobs" target="_blank">Find more info</a>
                            </p>
                        </article>
                    </div>

                    <div class="bloc__item box box--medium box--large@tablet theme-texture shadow">
                        <div>
                            <img class="avatar avatar--small" src="assets/images/quoc.jpg" alt="">
                            <p><strong>My name is Van Quoc</strong>. <br>Born and raised in the Netherlands with Vietnamese and Chinese roots</p>

                            <label for="menu-toggle" class="btn btn--primary btn--rounded menu-nav__trigger">
                                About me
                            </label>
                        </div>
                    </div>
                </div>
            </article>
        </div>

    </div>
</section>


<section class="section core-values">
    <div class="section__inner section__inner--medium">
        <h1 class="accessibility">My mission</h1>
        <h1>My statement</h1>
        <ul class="list-bare col col--column col--row@tablet theme-white radius-all box">
            <li class="col__item">
                <div class="box">
                    <div class="pull-image">
                        <img src="assets/icons/help.svg">
                        <h2>Empathize</h2>
                        <p>Understand and care for others</p>
                    </div>
                </div>
            </li>
            <li class="col__item">
                <div class="box ">
                    <div class="pull-image">
                        <img src="assets/icons/courage.svg">
                         <h2 id="stories">Encourage</h2>
                        <p id="my-approach">Help others pursue their passion</p>
                    </div>
                </div>
            </li>
            <li class="col__item">
                <div class="box">
                    <div class="pull-image">
                        <img src="assets/icons/generosity.svg">
                        <h2>Learn</h2>
                        <p>Share each other’s experience</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>


<section class="section story">
    <div class="section__inner section__inner--medium">

        <div class="col col--column col--row@tablet reduce--medium reduce--large@desktop">

            <div class="col__item w1/2@tablet w1/3@desktop box--medium box--large@desktop">
                <article class="how-it-works">
                    <h1>My approach</h1>
                    <ul class="list-bare list-steps mt-medium p-none">
                        <li>
                            <div class="box box--medium@tablet card card--borderd">
                                {% include icons/search-world.html %}
                                <strong>Research</strong>
                                <p>Explore low paid jobs and the environment people work in.</p>
                            </div>
                        </li>

                        <li>
                            <div class="box box--medium@tablet card card--borderd">
                                {% include icons/local-worker.html %}
                                <strong>Engage</strong>
                                <p>Listen, interact and work with the individuals.</p>
                            </div>
                        </li>

                        <li>
                            <div class="box box--medium@tablet card card--borderd">
                                {% include icons/learn.html %}
                                <strong>Learn</strong>
                                <p>Tell about each other's passion and life experience.</p>
                            </div>
                        </li>

                        <li>
                            <div class="box box--medium@tablet card card--borderd">
                                {% include icons/courage.html %}
                                <strong>Inspire</strong>
                                <p>Give the people motivation to pursue their passion.</p>
                            </div>
                        </li>


                        <li>
                            <div class="box box--medium@tablet card card--borderd">
                                {% include icons/people.html %}
                                <strong>Share</strong>
                                <p>Share the stories with the public.</p>
                            </div>
                        </li>
                    </ul>
                </article>
            </div>

            <div class="col__item w1/2@tablet w2/3@desktop box--medium box--large@desktop days">
                <nav class="reduce reduce--small@desktop">

                    <ul class="list-bare col">

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder">

                            <!-- card 1 -->
                            {% include my10jobs/card-1.html %}

                            <div class="modal" id="day-1">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-1.html %}

                            </div>
                        </li>
                        <!-- end li -->


                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder">

                            <!-- card 2-->
                            {% include my10jobs/card-2.html %}


                            <div class="modal" id="day-2">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-2.html %}

                            </div>
                        </li>
                        <!-- end li -->


                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder">

                             <!-- card 3 -->
                            {% include my10jobs/card-3.html %}


                            <div class="modal" id="day-3">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-3.html %}

                            </div>
                        </li>
                        <!-- end li -->

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder">

                             <!-- card 4 -->
                            {% include my10jobs/card-4.html %}

                            <div class="modal" id="day-4">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-4.html %}

                            </div>
                        </li>
                        <!-- end li -->

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder">

                             <!-- card 5 -->
                            {% include my10jobs/card-5.html %}

                            <div class="modal" id="day-5">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-5.html %}

                            </div>
                        </li>
                        <!-- end li -->

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder">

                             <!-- card 6 -->
                            {% include my10jobs/card-6.html %}

                            <div class="modal" id="day-6">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-6.html %}

                            </div>
                        </li>
                        <!-- end li -->

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder">

                             <!-- card 7 -->
                            {% include my10jobs/card-7.html %}

                            <div class="modal" id="day-7">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-7.html %}

                            </div>
                        </li>
                        <!-- end li -->

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder card-holder--disabled">

                             <!-- card 1 -->
                            {% include my10jobs/card-8.html %}

                            <div class="modal" id="day-8">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-8.html %}

                            </div>
                        </li>
                        <!-- end li -->

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder card-holder--disabled">

                             <!-- card 9 -->
                            {% include my10jobs/card-9.html %}

                            <div class="modal" id="day-9">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-9.html %}

                            </div>
                        </li>
                        <!-- end li -->

                        <!-- card-holder--disabled -->
                        <li class="col__item w1/1 w1/2@desktop box card-holder card-holder--disabled">

                             <!-- card 10 -->
                            {% include my10jobs/card-10.html %}

                            <div class="modal" id="day-10">
                                <a href="#stories" class="modal__close">
                                    {% include icons/arrow-left.html %}
                                    <span>Back home</span>
                                </a>

                                <!-- day 1 -->
                                {% include my10jobs/day-10.html %}

                            </div>
                        </li>
                        <!-- end li -->

                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

</div>

