---
layout: styleguide
description: Styleguide
---

<section class="styleguide__hero" style="background-image: url(https://images.unsplash.com/photo-1435764341253-b55543e9ddd9?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1920&h=1080&fit=crop&s=ddd99e58eff819718bd01e37bbb326ec);">
    <div class="styleguide__section-inner ph3 tc white w-100 mw6">
        <h1 class="bg-white navy mb0 pa5 f1 lh-title">Stuboki UI</h1>
        <h4 class="mb4 mt0 pa3 fw1 tracked-mega ttu bg-black">Styleguide</h4>
        <h2 class="mb0 f2 fw1 white">Contents</h2>
    </div>
</section>
<nav class="box">
    <ul class="list-bare styleguide__list mb0">
        <li class="box m-none dib">
            <a class="fw1" href="#settings">1. Settings</a>
        </li>

        <li class="box m-none dib">
            <a class="fw1" href="#tools">2. Tools</a>
        </li>

        <li class="box m-none dib">
            <a class="fw1" href="#base">3. Base</a>
        </li>

        <li class="box m-none dib">
            <a class="fw1" href="#objects">4. Objects</a>
        </li>

        <li class="box m-none dib">
            <a class="fw1" href="#components">5. Components</a>
        </li>

        <li class="box m-none dib">
            <a class="fw1" href="#compositions">6. Compositions</a>
        </li>
    </ul>
</nav>

<section class="styleguide__content">

    <!-- SETTINGS -->
    <div id="settings" class="styleguide__overview">
        <div class="styleguide__title f2">Settings</div>

        {% include styleguide/1-settings.html %}
    </div>
    <!-- END SETTINGS -->


    <!-- TOOLS -->
    <div id="tools" class="styleguide__overview">
        <div class="styleguide__title f2">Tools</div>

        {% include styleguide/2-tools.html %}
    </div>
    <!-- END TOOLS -->


    <!-- BASE -->
    <div id="base" class="styleguide__overview">
        <div class="styleguide__title f2">Base</div>

        {% include styleguide/3-base.html %}
    </div>
    <!-- END BASSE -->


    <div id="objects" class="styleguide__overview">

        <div class="styleguide__title f2">Objects</div>
        {% include styleguide/4-objects.html %}
    </div>


    <div id="components" class="styleguide__overview">
        <div class="styleguide__title f2">Components</div>

        {% include styleguide/5-components.html %}
    </div>

    <div id="compositions" class="styleguide__overview">
        <div class="styleguide__title f2">Compositions</div>

        {% include styleguide/6-compositions.html %}
    </div>

</section> <!-- end stylguide content -->









