// Headings
//
// Markup:
// <h1> Primary heading 1 - 36px<h1>
// <h2> Primary heading 2 - 28px<h2>
// <h3> Primary heading 3 - 24px<h3>
// <h4> Primary heading 4 - 20px<h4>
// <h5> Primary heading 5 - 18px<h5>
// <h6> Primary heading 6 - 16px<h6>
//
// Weight: 4
//
// Styleguide: Base.2


$heading-jumbo: 51px;
$heading-display: 28px;

$heading-h1:  38px;
$heading-h2:  26px;
$heading-h3:  24px;
$heading-h4:  20px;
$heading-h5:  18px;
$heading-h6:  16px;

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-secondary;
    margin: 0 0 ($gutter/2) 0;
    font-weight: 300;
}

.heading-jumbo {
    @include font-size($heading-jumbo);
    font-weight: 500;
}

.heading-display {
    @include font-size($heading-display);
}

.heading-title {
    color: $color-secondary;
    margin-bottom: $gutter/2;
}

h1 {
    @include font-size($heading-h1);
}

h2 {
    @include font-size($heading-h2);
}

h3 {
    @include font-size($heading-h3);
    line-height: 1.35;
}

.heading-title,
h4 {
    @include font-size($heading-h4);
}

h5 {
    @include font-size($heading-h5);
}

h6 {
    @include font-size($heading-h6);
}


// ========================================================
// DESKTOP
// ========================================================

@include respond-min-width($view-desktop) {

    $heading-jumbo:     61px;
    $heading-display:   38px;


    $heading-h1:  48px;
    $heading-h2:  36px;
    $heading-h3:  28px;
    $heading-h4:  24px;
    $heading-h5:  20px;
    $heading-h6:  20px;

    .heading-jumbo {
        @include font-size($heading-jumbo);
    }

    .heading-display {
        @include font-size($heading-display);
        line-height: $base-line-height / $base-size*1.05;
    }


    h1 {
        @include font-size($heading-h1);
    }

    h2 {
        @include font-size($heading-h2);
    }

    h3 {
        @include font-size($heading-h3);
    }

    .heading-title,
    h4 {
        @include font-size($heading-h4);
    }

    h5 {
        @include font-size($heading-h5);
    }

    h6 {
        @include font-size($heading-h6);
    }



} // END MEDIA
