// Page
//
// Markup:
// <!doctype html>
// <html class="no-js" lang="en">
// <head></head>
// <body>
//     <a class="accessibility skip-to-main" href="#main">Skip to main content</a>
//     <div class="page">
//         <section class="section" id="main" tabindex="-1">
//             <div class="section__inner">
//                 <h1>Index</h1>
//             </div>
//         </section>
//     </div>
// </body>
//
//
//
// Styleguide: Base.1


// ========================================================
// PAGE
// ========================================================

html {
    box-sizing: border-box;
    overflow-y: scroll; // Force scrollbars to always be visible to prevent awkward ‘jumps’ when navigating between pages that do/do not have enough content
    min-height: 100%; // Ensure the page always fills at least the entire height of the viewport.
}

* {

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }
}

body {
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    font-size: ($base-size / 16px) * 1em; // The `font-size` is calculated to exist in ems, the `line-height` is calculated to exist unitlessly
    line-height: $base-line-height / $base-size;
    font-family: $font-primary;
    font-weight: 400;

    &:after {
        content: "0em";
        display: block;
        height: 0;
        position: absolute;
        overflow: hidden;
        width: 0;
    }
}

// page

.page {
    margin-top: 50px;
    position: relative;
    overflow: hidden;
}


// ========================================================
// TABLET
// ========================================================

@include respond-min-width($view-tablet){
    .page {

        &:before {
            content: '';
            position: fixed;
            top: 0;
            right: 25%;
            display: block;
            height: 100%;
            width: 25%;
            border-right: 1px solid $color-border;
            border-left: 1px solid $color-border;
            z-index: -1;
        }
    }
} // END MEDIA


// ========================================================
// DESKTOP
// ========================================================

@include respond-min-width($view-desktop) {
    $base-line-height: 30px;
    $base-size: 20px;


    body {
        font-size: ($base-size / 16px) * 1em; // The `font-size` is calculated to exist in ems, the `line-height` is calculated to exist unitlessly
        line-height: $base-line-height / $base-size;
    }

    .page {
        margin-top: 0;
        margin-left: 50px;
    }
} // END MEDIA
