// ========================================================
// HOME HERO
// ========================================================

.home-hero {
    height: 67vh;
    max-height: 550px;
    min-height: 400px;
}
