<!-- <section class="section hero hero--bg hero--bg--darken" style="background-image: url('assets/images/test.jpg');">
    <div class="section__inner hero__body hero__body--middle">
        <div class="box hero__content">

            <img class="hero__avatar" src="http://placehold.it/75x75" alt="">
            <h1>Hero title</h1>
            <h2>Hero sub-title</h2>
            <a href="" class="btn hero__btn">button</a>
        </div>
    </div>
</section> -->


<!-- Animation -->
<!-- <section class="section hero">
    <div class="hero--bg hero--bg--animated hero--bg--darken" style="background-image: url('assets/images/test.jpg');"></div>

    <div class="section__inner hero__body hero__body--middle">
        <div class="box hero__content">

            <img class="hero__avatar" src="http://placehold.it/75x75" alt="">
            <h1>Hero title</h1>
            <h2>Hero sub-title</h2>
            <a href="" class="btn hero__btn">button</a>
        </div>
    </div>
</section>
 -->
