
<div class="panel">
    <div class="panel__inner">
        <a href="" class="panel__brand">Stuboki</a>

        <label for="panel-menu-trigger" class="panel__trigger hamburger">
            <span class="hamburger__stroke-right"></span>
            <span class="hamburger__stroke-bottom"></span>
            <span class="hamburger__stroke-left"></span>
            <span class="hamburger__stroke-top"></span>
        </label>


        <nav class="panel__navigation">
            <ul class="list-bare panel__links">
                <li>
                    <a class="panel__link" href="#blog">Blog</a>
                </li>
                <li>
                    <a class="panel__link" href="#Services">Projects</a>
                </li>
                <li>
                    <a class="panel__link" href="#about">About</a>
                </li>
            </ul>
        </nav>
    </div>
</div>
