// ========================================================

// # MEDIA Q

$fix-mqW: false !default;
$fix-mqH: false !default;

@mixin respond-min-width($width) {
	@if $fix-mqW {
		@if $fix-mqW >= $width {
			body:after { content:"#{$width}"; }
			@content;	
		}
	}
	@else {
		@media screen and (min-width: $width) {
			body:after { content:"#{$width}"; }
			@content;
		}
	}
}
@mixin respond-max-width($width) {
	@if $fix-mqW {
		@if $fix-mqW <= $width {
			@content;
		}
	}
	@else {
		@media screen and (max-width: $width) {
			@content;
		}
	}
}
@mixin respond-min-height($height) {
	@if $fix-mqH {
		@if $fix-mqH >= $height {
			@content;	
		}
	}
	@else {
		@media screen and (min-height: $height) {
			@content;
		}
	}
}
@mixin respond-max-height($height) {
	@if $fix-mqH {
		@if $fix-mqH <= $height {
			@content;	
		}
	}
	@else {
		@media screen and (max-height: $height) {
			@content;
		}
	}
}

@mixin respond-min-combi($width, $height) {
	@if $fix-mqW {
		@if $fix-mqW >= $width {
			body:after { content:"#{$width}"; }
			@content;	
		}
	} @else if $fix-mqH {
		@if $fix-mqH >= $height {
			@content;	
		}
	}
	@else {
		@media screen and (min-width: $width) and (min-height: $height) {
			body:after { content:"#{$width}"; }
			@content;
		}
	}
}

@mixin respond-max-combi($width, $height) {
	@if $fix-mqW {
		@if $fix-mqW <= $width {
			@content;	
		}
	} @else if $fix-mqH {
		@if $fix-mqH <= $height {
			@content;	
		}
	}
	@else {
		@media screen and (max-width: $width) and (max-height: $height) {
			@content;
		}
	}
}
