<div id="colors" id="colors" class="styleguide__sub-title bb b--black-10 f3 b">Colors</div>
<section class="section">
    <div class="section__inner">
        <div class="box">

            <!-- COLORS -->
            <ul class="list-bare styleguide__block-preview">
                <li>
                    <div class="p-large b color-primary">$color-primary</div>
                    <div class="col col--row">
                        <div class="col__item w1/2 box color-primary--darken">-darken;</div>
                        <div class="col__item w1/2 box color-primary--lighten">-lighten;</div>
                    </div>
                    <p>#09F</p>
                </li>
                <li>
                    <div class="p-large b color-secondary">$color-secondary</div>
                    <div class="col col--row">
                        <div class="col__item w1/2 box color-secondary--darken">-darken;</div>
                        <div class="col__item w1/2 box color-secondary--lighten">-lighten;</div></div>
                    <p>#58595B</p>
                </li>

                <li>
                    <div class="p-large b color-black">$color-black</div>

                    <div class="col col--row">
                        <div class="col__item w1/2 box color-black--darken">-darken;</div>
                        <div class="col__item w1/2 box color-black--lighten">-lighten;</div></div>
                    <p>#F2F2F2</p>
                </li>


                <li>
                    <div class="p-large b color-grey">$color-grey</div>

                    <div class="col col--row">
                        <div class="col__item w1/2 box color-grey--darken">-darken;</div>
                        <div class="col__item w1/2 box color-grey--lighten">-lighten;</div></div>
                    <p>#F2F2F2</p>
                </li>
            </ul>
            <!-- End COLORS-->
        </div>
    </div>
</section>


<div id="gutters" class="styleguide__sub-title bb b--black-10 f3 b">Gutters</div>
<section class="section">
    <div class="section__inner">
        <div class="box">

            <!-- GUTTERS -->
            <ul class="list-bare styleguide__block-preview">

                <li>
                    <div class="box--tiny dib color-primary">

                        <div class="bg-white box">
                            $gutter-tiny: 3px;
                        </div>
                    </div>
                </li>

                <li>
                    <div class="box--small dib color-primary">
                        <div class="bg-white box">
                            $gutter-small: 6px;
                        </div>
                    </div>
                </li>

                <li>
                    <div class="box dib color-primary">

                        <div class="bg-white box">
                            $gutter-stack: 12px;
                        </div>
                    </div>
                </li>
                <li>
                    <div class="box--medium dib color-primary">
                        <div class="bg-white box">
                            $gutter-medium: 24px;
                        </div>
                    </div>
                </li>

                <li>
                    <div class="box--large dib color-primary">
                        <div class="bg-white box">
                            $gutter-large: 36px;

                        </div>
                    </div>
                </li>

                <li>
                    <div class="box--xlarge dib color-primary">
                        <div class="bg-white box">
                            $gutter-xlarge: 48px;

                        </div>
                    </div>
                </li>


                <li>
                    <div class="box--xxlarge dib color-primary">
                        <div class="bg-white box">
                            $gutter-xxlarge: 60px;
                        </div>
                    </div>
                </li>
            </ul>
            <!-- End GUTTERS-->
        </div>
    </div>
</section>


<div id="Typography" class="styleguide__sub-title bb b--black-10 f3 b">Typography</div>
<div id="typefaces" class="styleguide__sub-title f4">Typefaces</div>
<section class="section">
    <div class="section__inner">
        <div class="box">
            <h2 class="fw3">Heading. Hind 300</h2>
            <h2 class="fw5">Heading. Hind 500</h2>
            <h2 class="fw7">Heading. Hind 700</h2>

            <p class="mb0">Body. Open Sans 300</p>
            <p class="mt0 fw7">Body. Open Sans 400</p>

        </div>
    </div>
</section>

<div id="headings" class="styleguide__sub-title f4">Headings</div>
<section class="section">
    <div class="section__inner">
        <div class="styleguide__heading-primary box">
            <h1>h1. Primary heading</h1>
            <h2>h2. Primary heading</h2>
            <h3>h3. Primary heading</h3>
            <h4>h4. Primary heading</h4>
            <h5>h5. Primary heading</h5>
            <h6>h6. Primary heading</h6>
        </div>
    </div>
</section>


<div id="paragraphs" id="paragraphs" class="styleguide__sub-title f4">Paragraphs</div>
<section class="section">
    <div class="section__inner">
        <div class="box">
            <h2>Lorem ipsum dolor</h2>

            <h3>Lorem ipsum dolor sit.</h3>

            <!-- Paragraphs -->
            <p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>

            <p><strong> Lorem ipsum dolor</strong> sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. Donec sed tellus eget sapien fringilla nonummy. Mauris a ante. Suspendisse quam sem, consequat at, commodo vitae, feugiat in, nunc. Morbi imperdiet augue quis tellus.</p>
            <!-- End Paragraphs -->

        </div>
    </div>
</section>
