<div id="section" class="styleguide__sub-title bb b--black-10 f3 b">Section</div>
<section class="section">
    <div class="section__inner">

        <table class="styleguide__table">
            <thead>
                <tr>
                    <th>Block</th>
                    <th>Element / Modifier</th>
                    <th>What it does?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>section</code>
                    </td>
                    <td></td>
                    <td>A wrapper element and can be used to give space between other section. It has by default an full-width, but for some case you can add fixed-with for example wide-screen at 1700px above.</td>
                </tr>
                <tr>
                    <td></td>
                    <td><code>__inner</code></td>
                    <td>A containing element to wrap elements inside a section. It has a fixed width and a half gutter to stack elements that placed with half gutter</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>

<div id="box" class="styleguide__sub-title bb b--black-10 f3 b">Box</div>
<section class="section">
    <div class="section__inner">

        <table class="styleguide__table">
            <thead>
                <tr>
                    <th>Block</th>
                    <th>Element / Modifier</th>
                    <th>What it does?</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <code>box</code>
                    </td>
                    <td></td>
                    <td>A box element spacing scale based on powers of different base font-size / lineheight. By default it has a half gutter that stack with other elements and section__inner
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <code>--tiny[@breakpoint-name] (1/4)</code> <br>
                        <code>--small[@breakpoint-name]  (1/3)</code> <br>
                        <code>--medium[@breakpoint-name]  (1)</code> <br>
                        <code>--large[@breakpoint-name]  (x2)</code> <br>
                        <code>--xlarge[@breakpoint-name]  (x2.5)</code> <br><br>

                        <code>@small</code> <br>
                        <code>@tablet</code> <br>
                        <code>@desktop</code> <br>
                    </td>
                    <td>Use to delare spacing scale based on a defined ratio</td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <code>--center</code> <br>
                        <code>--right</code> <br>
                        <code>--left</code> <br>
                    </td>
                    <td>Used to align text and links</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>


<div class="styleguide__title f2">Bloc stack foundation</div>
<section class="section bg-blue">
    <div class="section__inner h-100 tc bg-light-blue">
        <div class="box h-100 bg-lightest-blue">
            <div class="bg-washed-blue h3">
            </div>

        </div>
        <div class="box h-100 bg-lightest-blue">
            <div class="bg-washed-blue h3">
            </div>
        </div>
    </div>
</section>
