// ========================================================
// SECTION
// ========================================================

$section-breakpoints: (
    'small': $view-small,
    'tablet': $view-tablet,
    'desktop': $view-desktop
    ) !default;


$section-sizes: (
    null: $gutter-stack,
    '--tiny': $gutter-tiny,
    '--small': $gutter-small,
    '--medium': $gutter-medium,
    '--large': $gutter-large,
    '--xlarge': $gutter-xlarge,
    '--xxlarge': $gutter-xxlarge,
    '--flush': 0
    ) !default;


.section {
	max-width: $wrapper-width;
	margin-left: auto;
    margin-right: auto;
}

.section__inner {
    padding: $gutter-stack;
    margin-left: auto;
    margin-right: auto;
    max-width: $container-width;
    position: relative;

    &:after {
    	content: "";
    	display: block;
    	clear: both;
    }
}


// Size variants

.section__inner--tiny {
    padding: $gutter-tiny;
}

.section__inner--small {
    padding: $gutter-small;
}

.section__inner--medium {
    padding: $gutter-medium;
}

.section__inner--large {
    padding: $gutter-large;
}

.section__inner--xlarge {
    padding: $gutter-xlarge;
}

.section__inner--xxlarge {
    padding: $gutter-xxlarge;
}

.section__inner--flush {
    padding: 0;
}


/**
* Generate a series of device size variants to be used like so:
*
*   <div class="section__inner  section__inner--large@desktop">
*
*/


@each $section-bp-name, $section-bp-value in $section-breakpoints {

    @each $size-namespace, $size in $section-sizes {

        @media only screen and (min-width: $section-bp-value) {

            .section__inner#{$size-namespace}\@#{$section-bp-name} {
                padding: $size;
            }
        }
    }
}
