// ========================================================

// #COLORS

// Main colors
$color-primary: #09F;
$color-primary-darken: darken($color-primary, 5%);
$color-primary-lighten: lighten($color-primary, 5%);

$color-secondary:#58595B;
$color-secondary-darken: darken($color-secondary, 10%);
$color-secondary-lighten: lighten($color-secondary, 5%);

$color-black: #2A2A2A;
$color-black-darken: darken($color-black, 5%);
$color-black-lighten: lighten($color-black, 1%);

$color-grey: #E0E7F0;
$color-grey-darken: darken($color-grey, 5%);
$color-grey-lighten: lighten($color-grey, 1%);

// TEXT
$color-text: $color-black; 

// Form palette
$color-input: #eaeaea; // Input background color
$color-input-focus: #ccc; // Input focus background color
$color-error: #CC0000;


// Social palette
$social-facebook: #3b5998;
$social-linkedin: #0077B5;
$social-twitter: #55acee;
