// ========================================================

// # FONTS

@font-face {
    font-family:"";
    src:url("/assets/fonts/.eot?#iefix");
    src:url("/assets/fonts/.eot?#iefix") format("eot"),
        url("/assets/fonts/.woff2") format("woff2"),
        url("/assets/fonts/.woff") format("woff"),
        url("/assets/fonts/.ttf") format("truetype"),
        url("/assets/fonts/") format("svg");
    font-weight: 300;
    font-style: normal;
}



// Typography
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Hind', sans-serif;
