// ========================================================
// GLOBAL SETTINGS
// ========================================================

// Section width 
$wrapper-width: auto; 
$container-width: 75rem; // 1200px


// View Devices
$view-small: 30rem; // 480px
$view-tablet: 48rem; // 768px
$view-desktop: 64rem; // 1024px

// Animation
$time-fast: .2s; $time: .4s; $time-slow: .6s;


