// Global
//
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.
// <br><br>
// 1. Container & wrapper
// 2. Breakpoints
// 3. Animations
// 4. Family fonts
//
// Styleguide Settings.3


// Standardise some UI treatments

// Width settings of sections of  'section.scss'
$wrapper-width:     auto;
$container-width:   auto; // 1200px

// View Devices breakpoints
$view-small:        30rem; // 480px
$view-tablet:       48rem; // 768px
$view-desktop:      64rem; // 1024px

// Animation
$time-fast: .2s; $time: .4s; $time-slow: .6s;

// Family fonts
$font-primary: 'Arimo', sans-serif;
$font-secondary: 'Okomito', sans-serif;



@font-face {
    font-family:"Okomito";
    src:url("/assets/fonts/okomito/Okomito-Light.eot?#iefix");
    src:url("/assets/fonts/okomito/Okomito-Light.eot?#iefix") format("eot"),
        url("/assets/fonts/okomito/Okomito-Light.woff2") format("woff2"),
        url("/assets/fonts/okomito/Okomito-Light.woff") format("woff");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family:"Okomito";
    src:url("/assets/fonts/okomito/Okomito-Regular.eot?#iefix");
    src:url("/assets/fonts/okomito/Okomito-Regular.eot?#iefix") format("eot"),
        url("/assets/fonts/okomito/Okomito-Regular.woff2") format("woff2"),
        url("/assets/fonts/okomito/Okomito-Regular.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family:"Okomito";
    src:url("/assets/fonts/okomito/Okomito-Bold.eot?#iefix");
    src:url("/assets/fonts/okomito/Okomito-Bold.eot?#iefix") format("eot"),
        url("/assets/fonts/okomito/Okomito-Bold.woff2") format("woff2"),
        url("/assets/fonts/okomito/Okomito-Bold.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}
